appdirs==1.4.3
asciimatics==1.11.0
certifi==2019.6.16
chardet==3.0.4
colorama==0.4.1
configobj==5.0.6
configparser==3.7.4
contextlib2==0.5.5
decorator==4.4.0
distro==1.4.0
dvc==0.50.1
funcy==1.12
future==0.17.1
gitdb2==2.0.5
GitPython==2.1.11
grandalf==0.6
humanize==0.5.1
idna==2.8
inflect==2.1.0
jsonpath-ng==1.4.3
kaggle==1.5.4
nanotime==0.5.2
networkx==2.3
numpy==1.16.4
opencv-python==4.1.0.25
pandas==0.24.2
pathspec==0.5.9
Pillow==8.1.1
ply==3.11
psutil==5.6.6
pyasn1==0.4.5
pyfiglet==0.8.post1
pyparsing==2.4.0
python-dateutil==2.8.0
python-slugify==3.0.2
pytz==2019.1
requests==2.22.0
ruamel.yaml==0.15.97
schema==0.7.0
shortuuid==0.5.0
six==1.12.0
smmap2==2.0.5
text-unidecode==1.2
torch==1.1.0
torchvision==0.3.0
tqdm==4.32.2
treelib==1.5.5
urllib3==1.24.3
wcwidth==0.1.7
zc.lockfile==1.4
